<div class="imgdiv">  

    <div class="profileInformation">  
        <div class="name">Yash Yogeshwara</div> 
        <div>Hi! i am FullStack Web/Mobile</div> 
        <div>Devloper</div> 
        <div class="logoMain">
            <span class="">
            <a href="https://github.com/yashaswiyogeshwara">
                <img src="assets/Images/GitHub-Mark.png" width="50" height="50" >
                </a>
            </span>
            <span class="logo">
            <a  href="https://www.linkedin.com/in/yash-yogeshwara-10a2484b/">
                <img src="assets/Images/linkedin-logo.png" width="50" height="50" >
                </a>
            </span>
        </div>

    </div>  

    <div class="footer">
        <table>
            <tr>
                <td class="tabelData">
                    <div>Email</div>
                    <div>yashaswi.yogeshwara@gmail.com</div>
                </td>
                <td class="tabelData">
                    <div>|</div>
                    <div>|</div>
                </td>
                <td class="tabelData">
                    <div>Phone</div>
                    <div>+91 7702599653</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="profileImage">
        <img src="assets/Images/MyProfileImage.png" width="50%" height="50%" >
    </div>
</div>    