.imgdiv{      
    background-color: black;
    width:100% !important;
    height: 100vh!important;
    display:grid;
    grid-template-columns:10% 40% 9% 40% ;
    grid-template-rows: 15% 60% 20% 10%;

}      
 
.profileInformation{
    font-size: xx-large;   
    color:paleturquoise;
    align-self: center;
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.name{
    font-size:70px;   
}
.logoMain{
    padding-top:25px ;

}
.logo{
    padding-left:10px ;
}
.footer{
    font-size: medium;   
    color:paleturquoise;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.profileImage{
    float:right;
    align-self: center;
    justify-self: center;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.tabelData{
    padding-left:50px ;
}